:root {
  --black: #0c1718;
  --blue: #80f0ff;
  --gray: #283334;
  scroll-behavior: smooth;
}
section {
  min-height: 100vh;
  background-color: var(--black);
  overflow: hidden;
}

.home .row {
  margin-left: 100px;
}

nav {
  margin-top: 130px;
  width: 10px;
}

.back-nav {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  transition: 0.3s;
  transform: translate(6px, 85px);
}

.back-nav:after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(128, 240, 255, 0.1);
  border: 1px solid var(--blue);
}

nav a i {
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: var(--blue);
}

nav a i:hover {
  color: #a70c9a;
}

.desk h6 {
  color: var(--blue);
  font-family: pragmatica, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

.foto img {
  background-color: var(--blue);
  position: relative;
  z-index: 1;
  border: 3px solid var(--blue);
  box-shadow: 0px 0px 19px rgba(128, 240, 255, 1);
}

.nama-foto h1 {
  color: var(--black);
  font-size: 1.3rem;
  font-family: pragmatica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--blue);
  text-align: center;
  display: none;
}

.nama h1 {
  color: var(--black);
  font-size: 4rem;
  font-family: pragmatica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--blue);
}

.home .shapes {
  width: 50%;
  opacity: 0.3;
  margin-left: 200px;
  margin-top: -150px;
}

.home .btn {
  font-family: pragmatica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  margin-top: 30%;
}

.home .foto .tombol .about-me:hover {
  color: var(--black) !important;
  background-color: var(--blue);
}

.home .foto .tombol .contact:hover {
  color: var(--blue) !important;
  background-color: var(--black) !important;
  border: 2px solid var(--blue);
}

/* responsive breakpoint */

/* tablet */
@media (max-width: 900px) {
}

/* hp */
@media (max-width: 576px) {
  .desk h6 {
    font-size: 18px;
  }

  .foto img {
    width: 200px;
  }

  .home .tombol {
    text-align: start !important;
    margin-left: 10%;
  }

  .home .btn {
    width: 160px;
    height: 40px;
    margin-top: 10%;
  }

  .home .contact {
    margin-top: 10% !important;
  }

  .nama h1 {
    display: none;
  }

  .nama-foto h1 {
    display: block;
  }
}
